body {
    margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

ul li a:hover:not(#time) {
    background-color: #97cbff;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
  ul {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul li a {
    float: left;
    padding: 15px;
  }
  
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  ul li a {
    text-align: center;
    float: none;
  }
}